body {
    padding-top: 70px;
}
.jumbotron {
    color: #2c3e99;
    background: #ccccfa;
}
.navbar-inverse {
    background: #2c3e99;
}
.navbar-inverse .navbar-nav > li> a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: white;
}